<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <title>Myport</title>
        <link rel="icon" href="/static/ico/chowder.jpg" type="image/jpg">
        
    </head>
    <body style="background-color:chocolate;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{url_for('home')}}">Myport</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
                  </li>
                  <!--<li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>-->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      accounts
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{url_for('user.add')}}">Add port</a></li>
                      <li><a class="dropdown-item" href="{{url_for('user.list_edit')}}">Edit port</a></li>
                      <li><a class="dropdown-item" href="{{url_for('user.logout')}}">logout</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Q&A</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('user.login')}}">login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('user.register')}}">register</a>
                  </li>
                </ul>
                <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                  <a class="nav-link">{{current_user_in}}</a>
          
        
                <!--<form class="d-flex" role="search">-->
                  <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
                  <!--<button class="btn btn-outline-success" type="submit">Search</button>-->
                </form>
                </ul>
              </div>
            </div>
          </nav>
        {%block content%}
        {%endblock%}
    </body>
</html>