{%extends "layout.html"%}
{%block content%}
<div class="container text-center d-flex justify-content-around" style="margin-top: 2%;">
<form action="{{url_for('user.do_add')}}"  method="POST" enctype="multipart/form-data">
    <div class="form-group row">
      <label for="exampleFormControlFile1" class="col-sm-1 col-form-label">Photo</label>
      <div class="col-3">
      <input type="file" class="form-control-file" id="exampleFormControlFile1" name="photomy" multiple/>
    </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">ชื่อ</label>
        <div class="col-3">
          <input type="text" class="form-control" id="inputEmail3" placeholder="ชื่อ" name="fname">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">นามสกุล</label>
        <div class="col-3">
          <input type="text" class="form-control" id="inputEmail3" placeholder="นามสกุล" name="lname">
        </div>
    </div>
    <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-3">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">ซอย/ถนน</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="ซอย/ถนน" name="road">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">ตำบล</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="ตำบล" name="tambon">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">อำเภอ</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="อำเภอ" name="amphor">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">จังหวัด</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="จังหวัด" name="city">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">รหัสไปรษณี</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="รหัสไปรษณี" name="zip_code">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">เบอร์โทร</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="เบอร์โทร" name="tel">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">ทักษะ/ความสามารถพิเศษ</label>
        <div class="col-sm-7">
          <textarea type="text" class="form-control" id="inputEmail3" placeholder="ทักษะ/ความสามารถพิเศษ" name="skill"></textarea>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">ผลงาน</label>
        <div class="col-sm-7">
          <textarea type="text" class="form-control" id="inputEmail3" placeholder="ผลงาน" name="performance"></textarea>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="exampleFormControlFile1" class="col-sm-1 col-form-label">รูปผลงาน</label>
        <div class="col-3">
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name = "photoperformance" multiple/>
      </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">linkedin</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="link" name="linkedin">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">github</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="link" name="github">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">twitter</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="link" name="twitter">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">facebook</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="link" name="facebook">
        </div>
      </div>
      <br>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Upload</button>
  </form>
</div>
{%endblock%}