{%extends "layout.html"%}
{%block content%}
<div class="container text-center d-flex justify-content-around" style="margin-top: 2%;">
<form action="{{url_for('user.do_edit')}}" method="POST" enctype="multipart/form-data">
    <input type="hidden" id="custId" name="user_port_id" value={{datas.user_port_id}}>
    <div class="form-group row">
      <label for="exampleFormControlFile1" class="col-sm-1 col-form-label">Photo</label>
      <div class="col-3">
      <input type="file" class="form-control-file" id="exampleFormControlFile1" name="photomy" multiple/>
      <img src="/{{datas.photomy}}" height="250">
    </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">ชื่อ</label>
        <div class="col-3">
          <input type="text" class="form-control" id="inputEmail3" placeholder="ชื่อ" name="fname" value={{datas.fname}}>
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">นามสกุล</label>
        <div class="col-3">
          <input type="text" class="form-control" id="inputEmail3" placeholder="นามสกุล" name="lname" value="{{datas.lname}}">
        </div>
    </div>
    <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-3">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email" value="{{datas.email}}">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">ซอย/ถนน</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="ซอย/ถนน" name="road" value="{{datas.road}}">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">ตำบล</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="ตำบล" name="tambon" value="{{datas.tambon}}">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">อำเภอ</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="อำเภอ" name="amphor" value="{{datas.amphor}}">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">จังหวัด</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="จังหวัด" name="city" value="{{datas.city}}">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">รหัสไปรษณี</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="รหัสไปรษณี" name="zip_code" value="{{datas.zip_code}}">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">เบอร์โทร</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="เบอร์โทร" name="tel" value="{{datas.tel}}">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">ทักษะ/ความสามารถพิเศษ</label>
        <div class="col-sm-7">
          <textarea type="text" class="form-control" id="inputEmail3" placeholder="ทักษะ/ความสามารถพิเศษ" name="skill">{{datas.skill}}</textarea>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">ผลงาน</label>
        <div class="col-sm-7">
          <textarea type="text" class="form-control" id="inputEmail3" placeholder="ผลงาน" name="performance">{{datas.performance}}</textarea>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="exampleFormControlFile1" class="col-sm-1 col-form-label">รูปผลงาน</label>
        <div class="col-3">
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name = "photoperformance" value="{{datas.photoperformance}}" multiple/>
        <img src="/{{datas.photoperformance}}" height="250">
      </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">linkedin</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="link" name="linkedin" value="{{datas.linkedin}}">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">github</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="link" name="github" value="{{datas.github}}">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">twitter</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="link" name="twitter" value="{{datas.twitter}}">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 col-form-label">facebook</label>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="link" name="facebook" value="{{datas.facebook}}">
        </div>
      </div>
      <br>
      <div class="form-group row" style="position: relative;left: 50%;">
        <div class="col-3">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>   
        </div>
        <div class="col-3">
            <a href="{{url_for('user.delete',user_port_id = datas.user_port_id)}}" class="w-100 btn btn-lg btn-primary">Delete</a>
        </div>
      </div>
  </form>
</div>
{%endblock%}