{%extends "layout.html"%}
{%block content%}
<div class="container text-center" style="margin-top: 3%;">
  <div class="rounded" style="margin-bottom: 3%;font-size: 1.5cm;background-color: coral;">My Port</div>    
  {%for i in datas%}
    <div class="row" style="margin-bottom: 5%;">
        {%for data in i%}
        <div class="col d-flex justify-content-around">
          <div class="card border border-dark" style="width: 18rem;height: 28rem; margin-top: 20px;margin-bottom: 20px;">
              <img src="{{data.photomy}}" class="card-img-top d-flex justify-content-around" style="width: 18rem;height: 14rem;object-fit: cover;" alt="...">
              <div class="card-body" style="width: 18rem;height: 14rem;">
              <h5 class="card-title">{{data.fname}}</h5>
              <h5 class="card-title">{{data.lname}}</h5>
              <p class="card-text">{{data.skill}}</p>
              <div class="form-group row" style="position: absolute;bottom: 10px;right: 58.67px ;">
                <div class="col"><a style="width: 66px;" href="{{url_for('user.view_port',user_port_id = data.user_port_id)}}" class="btn btn-primary">More</a></div>
                <div class="col"><a style="width: 66px;" href="{{url_for('user.form_edit',port_ids = data.port_id)}}" class="btn btn-primary">Edit</a></div>
              </div>
              
            </div>
          </div>
      </div>
      {%endfor%}
    </div>
    {%endfor%}
</div>
{%endblock%}