{%extends "layout.html"%}
{%block content%}
<div class="container">

    <div class="text-center">
    <main class="form-signin w-100 m-auto">
        <img class="mb-4" src="https://www.psu.ac.th/img/logos/psu_th.png" alt="" width="150">
     
        <div  class="alert alert-success" role="alert" style="margin-top: 10px;">
          Register success
        </div>
    
    </main>
    </div>
    
        </div>
{%endblock%}