{%extends "layout.html"%}
{%block content%}
<div class="container" style="width: 50%;margin-top: 13%;">

    <div class="text-center">
    <main class="form-signin w-100 m-auto">
      <form action="{{ url_for('user.do_register') }}" method="POST" class="was-validated">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 fw-normal">Please Register</h1>
        
        <div class="form-floating">
            <input type="text" class="form-control is-invalid" id="name" name="name" placeholder="Name">
            <label for="floatingInput">Name</label>
          </div>
          <br>
        <div class="form-floating">
          <input type="email" class="form-control is-invalid" id="email" name="email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <br>
        <div class="form-floating">
          <input type="password" class="form-control is-invalid" id="password" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <br>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
      </form>
      
      {% if request.args | length > 0 %}
        <div  class="alert alert-danger" role="alert" style="margin-top: 10px;">
          <ul>
          {% for k, v in request.args.items() %}
            <li><b>{{ k }}: </b> {{ v }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    
    </main>
    </div>
    
        </div>
{%endblock%}